<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/icone/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/contato.css">
    <title>Incuba 3D</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <section class="header-left">
                    <img src="../media/IBAGENS/logo-incuba3D.png" alt="">
                </section>
                <section class="header-right">
                    <nav>
                        <ul>
                            <li><a href="../../index.html">Início</a></li>
                            <li><a href="/assets/components/produtos.html">Produtos</a></li>
                            <li><a href="/assets/components/contato.html">Contato</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="contato">
                <section class="contato-left">
                    <div class="contato-local">
                        <h2>Localização</h2>
                        <p>Avenida Visconde de Suassuna - Santo Amaro, Recife - PE</p>
                    </div>
                    <div class="contato-media">
                        <h2>Siga-nos</h2>
                        <a href="#"><img src="../media/IBAGENS/whats.png" alt="whatsapp"></a>
                        <a href="#"><img src="../media/IBAGENS/insta.png" alt="instagram"></a>
                    </div>
                    <div class="contato-rights">
                        <p>&copy; Todos os direitos reservados - 2022</p>
                    </div>
                </section>
                <section class="contato-right">
                    <div class="form">
                        <form>
                            <h2>Formulário de contato</h2>

                            <input type="text" placeholder="Nome" class="nome"> <br>
                            <input type="email" placeholder="E-mail" class="email" > <br>
                            <input type="text" placeholder="Celular" class="celular"> <br>
                            <input type="text" placeholder="Código do produto de interesse" class="cod"> <br>

                            <p>Como deseja ser encontrado?</p>

                                <input type="radio" id="Whatsapp" name="fav_language" value="Whatsapp">
                                <label for="Whatsapp">Whatsapp</label><br>
                                <input type="radio" id="Instagram" name="fav_language" value="Instagram">
                                <label for="Instagram">Instagram</label><br>
                                <input type="radio" id="Celular" name="fav_language" value="Celular">
                                <label for="Celular">Celular</label>
                                <br>
                            
                            <textarea placeholder="Deixe uma mensagem" rows="20" cols="60" class="msg"></textarea>
                            <a href="#" class="btn-enviar">Enviar</a>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="../media/IBAGENS/logo-incuba3D.png" alt="logo-rodape">
            </div>
        </div>
    </footer>

    <script src="/assets/script/script.js"></script>
</body>
</html>