<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/icone/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/produtos.css">
    <title>Incuba 3D</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <section class="header-left">
                    <img src="../media/IBAGENS/logo-incuba3D.png" alt="">
                </section>
                <section class="header-right">
                    <nav>
                        <ul>
                            <li><a href="../../index.html">Início</a></li>
                            <li><a href="/assets/components/produtos.html">Produtos</a></li>
                            <li><a href="/assets/components/contato.html">Contato</a></li>
                        </ul>
                    </nav>
                </section>
            </div>
        </div>
    </header>
    <main>
        <div class="produtos">
            <div class="item produto1">
                <section class="produto1-img">
                    <img src="../media/IBAGENS/29.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Bateria</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto2">
                <section class="produto2-img">
                    <img src="../media/IBAGENS/bota.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Vaso de bota</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto3">
                <section class="produto3-img">
                    <img src="../media/IBAGENS/paiFilha.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3> Porta retrato</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto4">
                <section class="produto4-img">
                    <img src="../media/IBAGENS/23.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Vaso de planta branco</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto5">
                <section class="produto5-img">
                    <img src="../media/IBAGENS/15.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Vaso de planta verde</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto6">
                <section class="produto6-img">
                    <img src="../media/IBAGENS/jesus.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Jesus decorativo</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto7">
                <section class="produto7-img">
                    <img src="../media/IBAGENS/dog.jpeg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Cachorro decorativo</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto8">
                <section class="produto8-img">
                    <img src="../media/IBAGENS/elefante2.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Elefante decorativo</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
            <div class="item produto9">
                <section class="produto9-img">
                    <img src="../media/IBAGENS/DSC04002.jpg" alt="foto-produto">
                </section>
                <section class="produto-desc">
                    <h3>Molde familiar</h3>
                    <p>Cod.: 0000000</p>
                </section>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <img src="../media/IBAGENS/logo-incuba3D.png" alt="logo-rodape">
            </div>
            <div class="footer-media">
                <img src="../media/IBAGENS/whats.png" alt="whatsapp">
                <img src="../media/IBAGENS/insta.png" alt="instagram">
            </div>
            <div class="footer-rights">
                <p>&copy; Todos os direitos reservados - 2022</p>
            </div>
        </div>
        
    </footer>

    <script src="/assets/script/script.js"></script>
</body>
</html>