* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.slide-show {
    position: relative;
    padding: 15px;
    max-width: 1000px;
    margin: 50px auto;
}

.galeria {
    display: flex;
    flex-flow: row nowrap;
}

.galeria-wrapper {
    overflow-x: auto;
}

.galeria-wrapper::-webkit-scrollbar {
    display: none;
}
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */

.seta-prev, .seta-next {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 25px;
    line-height: 250px;
    color: #0000004d;
    width: 60px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: transparent;
    transition: all 600ms ease-in-out;
}

.seta-next {
    left: auto;
    right: 0;
    background: transparent;
}

.seta-prev:hover {
    color: black;
}
.seta-next:hover {
    color: black;
}

.line {
    background-color: #F2C335;
    width: 100%;
    height: 10px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-desc {
    padding: 20px;
}

.desc-title h2{
    margin: 30px 0;
    text-align: center;
    font-size: 2em;
}

.desc-text p {
    line-height: 1.5em;
    padding: 0 30px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.about-color{
    background-color: #35748C;
    height: 200px;
}

.about-img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-image: url('/assets/media/IBAGENS/sobre.jpg');
    background-size: cover;
    background-position: center;
}

.impressora {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
}

.impressora-desc {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.impressora-desc h2 {
    margin: 30px 0;
    font-size: 2em;
}

.impressora-desc p {
    line-height: 1.5em;
    padding: 0 30px;
    font-size: 1.1em;
}

.impressora-img {
    background-image: url('../media/IBAGENS/impressoras.png');
    background-size: cover;
    background-position: 60% 70%;
}

.material {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
}

.material-img {
    background-image: url('../media/IBAGENS/filamentos.jpg');
    background-size: cover;
    background-position: center;
}

.material-desc {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.material-desc h2 {
    margin: 30px 0;
    font-size: 2em;
}

.material-desc p {
    line-height: 1.5em;
    padding: 0 30px;
    font-size: 1.1em;
}